*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Times New Roman', Times, serif;
}
header{
    padding: 10px;
    margin: auto;
    background-color: #f70000;
}
.left-side h1{
    margin-bottom: 10px;
}
.right-side{    
    align-items: center;
}
.left-side, .right-side{
    display: flex;
    justify-content: center;
}
.navegacao{
    display: flex;
    gap: 40px;
}
.navegacao li{
    list-style-type: none;
}
.icones ul{
    display: flex;
    justify-content:end;
    list-style-type: none;
    padding-right: 33px;
}
.icones img{
    width: 40px;
    padding-left: 3px;
    padding-top: 10px;
}
.textotopo {
    text-align: center;
   
}
.textotopo h2{
    margin-top: 40px;
    margin-bottom: 40px;
}
.textotopo p{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.subtitulo{
    border-bottom: 2px solid #ff0000;
    margin: 0px 40px 40px 40px;

}
.subtitulo h2{
    text-align: center;
    margin-bottom: 20px;
}
.container-conteudo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    max-width: 300px;
    border: 2px solid #f70000;
    border-radius: 10px;
    margin-bottom: 40px;
}
.card p{
    text-align: center;
    padding: 3%;
}
.card .container-botao{
    display: flex;
    justify-content: end;
}

.card a{
    background-color: aqua;
    color: azure;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid#333;
}
.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #f70000;
    border-radius: 10px 10px 0 0;
}
.sobreMim{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}
.sobreMim img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 40px;
}
.sobreMim div p{
    text-align: center;
    margin-bottom: 40px;

}
@media screen and (min-width:992px){
    header{
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-right: 40px;
        padding-left: 40px;
    }
    .right-side{    
        align-items: center;
    }
    .subtitulo h2{
        text-align: left;
    }
    .container-conteudo{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }
    .sobreMim{
        display: flex;
        padding-right: 40px;
        padding-left: 40px;
        flex-wrap: nowrap;
    }
    .sobreMim img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
    .sobreMim div p{
        text-align: left;
        padding-top: 3%;
        padding-left: 3%;
    }
}