*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fugaz One', cursive;
    position: relative;
    background-color: #ca2f00;
    
}
html{
    scroll-behavior: smooth;
}
/*.fundo img{
    position: fixed;
    opacity: 0.5;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}*/
header{
    padding: 10px;
    background-color: #000000;
    border-bottom: 5px solid #ffffff;
}
.left-side, .right-side{
    display: flex;
    justify-content: center;
    font-size: large; 
    color: #f7a500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.right-side :hover{
    color: #ca2f00;
}
.navegacao{
    display: flex;
    gap: 20px;
}
.navegacao li{
    list-style: none;
}
.navegacao li a{
    color: #f7a500;
    text-decoration: none;
}
.icones {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.icones ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
}
.icones img{
    width: 40px;
    padding-left: 3px;
    padding-top: 10px;
}
.textotopo {
    text-align: center;
}
.textotopo h2{
    margin: 40px 20px 40px 20px;
    color: #f7a500;
    font-size: 40px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.textotopo p{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    color: #ffffff;

}
.subtitulo{
    border-bottom: 5px solid #ffffff;
    margin: 0px 40px 40px 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.subtitulo h2{
    text-align: center;
    margin-bottom: 20px;
    color: #f7a500;
    font-size: 40px;
}
.container-conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.card{
    max-width: 350px;
    max-height: 600px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 1em #000000;
}
.card p{
    text-align: center;
    padding: 3%;
    border: #ffffff;
    color: #ffffff;
}
.card .container-botao{
    display: flex;
    justify-content: end;
    margin: 5px;
}
.card a{
    background-color: #000000;
    border-radius: 8px;
    text-decoration: none;
    padding: 5px 10px;
    color: #ffffff;
    border: solid #ffffff;
    
}
.card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-bottom: 5px solid #ffffff;
    border-radius: 8px 8px 0 0;
}
.card a:hover{
    color: #f7a500;
}
#verde{
    background-color: #008c17;
}
#red{
    background-color: #ad0000;
}
#roxo{
    background-color: #75008c;
}
#azul{
    background-color: #2e56d7;
}
#amarelo{
    background-color: rgb(230, 189, 27);
}
#verdeescura{
    background-color: #0f641d;
}
.sobreMim{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}
.sobreMim img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 40px;
    border: 5px solid #ffffff;
}
.sobreMim div p{
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario h2{
    text-align: center;
    margin: 0px 20px 40px 20px;
    color: #ffffff;
}
.formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 20px 40px 20px;
    border-radius: 5px;
    padding: 0.5em;
    background-color: #000000;
    color: #f7a500;
    border: 5px solid #ffffff;
  

}
.formulario form label{
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.formulario form input:not(input[type="checkbox"]){
    border: 5px solid #ca2f00;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}
.formulario div .check{
    display: flex;
    width: 100%;
    align-items: center;
    color: #f7a500;

}
.formulario div .check input{
    margin-right: 10px;
    
}
.formulario div .botao{
    background-color: #ca2f00;
    width: 100%;
    padding: 1%;
    cursor: pointer;
    font-weight: bold;
    font-size:large;
    border-radius: 10px;
    color: #ffffff;
    border: 2px solid#ffffff;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    border-top: 5px solid#ffffff;
    
}
footer p{
    padding-top: 10px;
    text-align: center;
    color: #f7a500 ;
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    
}
footer .conteudo-fim .icones{
    display: flex;
    justify-content: center;
}
@media screen and (min-width:992px){
     /*.fundo {
        background-image: url("https://phantom-marca.unidadeditorial.es/ee46d7a1c09b447117f8e83c6e131f31/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/02/16437899001758.jpgg");
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        background-position: center;
        width: 100%;
        height: 170%;
        opacity: 0.5;
        z-index: -1;
      }
      .fundo img {
        display: none;
      }*/
    header{
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
        padding-left: 40px;
    }
    .left-side, .right-side{
        font-size: large;  
        align-items: center;
    }
    .navegacao{
        display: flex;
        gap: 20px;
    }
    .icones {
        display: flex;
        justify-content: end;
        list-style-type: none;
    }
    .icones ul{
        display: flex;
        justify-content: end;
        list-style-type: none;
    }
    .subtitulo h2{
        text-align: left;
    }
    .container-conteudo{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }
    .sobreMim{
        padding-right: 20px;
        padding-left: 20px;
        flex-wrap: nowrap;
    }
    .sobreMim div p{
        text-align: left;
        justify-content: center;
        align-self: center;
        padding-left: 40px;
        padding-top: 50px;
    }
    .formulario form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 45%;
        margin: auto;
        margin-bottom: 40px;
        border: 5px solid #ffffff;
        border-radius: 5px;
        padding: 2%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 0px 10px 0px;
    }
    footer .conteudo-fim p {
        text-align: left;
        font-size: large;  
        align-items: left;
    }
    footer .icones {
       display: flex;
       justify-content: end;
       align-items: flex-end        ;
    }
}